<div class="jumbotron">
	<h1>About Me</h1>
	<h2>The story of an aspiring games developer</h2>
</div>
<div class="container">
	<h3>Overview</h3>
	I am currently a student at the University of York studying a MEng Master's degree in Computer Science with Artificial Intelligence. I am expected to graduate with a First.
	During my free time I'm often learning new langauges, and making new applications. 
	I aspire to become a games developer, and I am currently looking for a Games Developer job for when I graduate this year.
	<h3>Why Games?</h3>
	From a young age I have always been interested in games. I remember the first video game that I ever played  was Jungle Book for MS-DOS.
	From that point on I was addicted. I would sit for hours watching my Dad play DOOM among other games, or watch one of my siblings play Diskworld or Settlers. <br />
	I begged my parents for a playstation, and I still remember the pure excitment I felt when I opened up a present on Christmas day from Santa Claus revealing it to be a Playstation 1.
	Since then I have played hundreds of games on any platform I could get my hands on, covering all different types of genres: from RPGs, to RTSs, to racing games, to simulation games. <br />
	<p></p>
	Games, to me, are like no other form of entertainment. I loved the interaction that you get with a video game, and the sense of accomplishment that you feel when you get past a particularly hard part of the game. 
	I love the sense of immersion that you get, how you develop emotional attachments to characters and how you feel happiness, sadness, panic, excitment as well as other emotions as if you were apart of that universe.
	Video games are a big part of my life, and are more than just a way to waste time to me. 
	<p></p>
	Games are the reason I took a degree in Computer Science. I was always fascinated with how games worked, and if I ever came across any bugs in games I would always be interested as to why they happened. 
	When I was younger I keep a notebook in which I wrote my ideas for games which I would implement when I was older. Unfortunately I lost that book, however I never lost my passion to make video games.
	
	<h3>Why Computer Science?</h3>
	As mentioned, I took a degree in Computer Science due to my aspiration to become a Games Developer. I always loved Mathematics and it was my favourite subject at School. 
	I loved any form of problem solving, and I always got a great deal of satisfaction whenever I was able to solve a problem efficiently and elegantly. 
	All of this went hand-in-hand with a degree in Computer Science, and after taking Computer at A-level in College I was determined to pursue a personal life as a programmer.
	I decided to specialise in Artficial Intelligence due to my interest in the AI behind video games. To me this sounded like the most interesting and fun area to specialise in.
	<p></p>
	 I have covered a wide range of topics in my degree. I have covered a large range of AI topics such as Machine Learning, Neural Networks, Evolutionary Computation, among others.
	 I have also covered other interesting topics such as Quantum Computation, Information and Coding Theory, Constraint Programming, Comptuer Graphics and Visualisation. 
	 I have also covered more general software engineering topics such as Theory of Algorithms and Data Structures, Relational Databases and Query Languages, Analysable Real-Time Systems, Privacy and Security, among others.
	  <p></p>
	  I take my studies very seriously, and put my all in to learning about all things Computer Science related. This is reflected in my grades, where last year I achieved an average of 81%. 
	  I also recently sat an examination on Quantum Computation where I achieved a result of 97%, with the highest result of the class being 99%.
	  <p></p>
	  My current Masters Project is on using Monte Carlo Tree Search and the Minimax Algorithm in order to develop an AI player for the card game '<%= link_to "Lords of War", "http://lords-of-war.com/"%>'. I picked this project as it combines two of my passions: Artificial Intelligence and video games.
	  More on this can be read <%= link_to "here", "/portfolio/masters" %>
	
	<h3>Hobbies</h3>
	My main hobby, as you've probably guessed, is gaming. My favourite genre of game is RPG, with some of my favourite games being: Star Ocean: Til the End of Time, Kingdom Hearts, World of Warcraft, Harvest Moon: Back to Nature, Monster Rancher, and Pokemon Red.
	I have just completed Grand Theft Auto V and I am now playing Ni No Kuni. <br />
	I am also a lover of fantasy books, with the Inheritance cycle and the Old Kingdom trilogy being some of my favourite book series. <br />
	I also enjoy watching animated films and series. I enjoy a lot of Japanese animation, with series such as Cowboy Bebop, and Death Note, and films such as Metropolis being some of my favourite. I also enjoy Western animation such as shows like Adventure Time.
	<p></p>
	I also spend a lot of my free time learning new programming languages and developing new applications. At the moment I am creating a game using the Marmalade SDK using C++, more of which can be read about here. 
	I also am developing a web application using Ruby on Rails for my guild on World of Warcraft using the World of Warcraft API. However I have had to put this on hold as I do not have the time to currently play World of Warcraft.

</div>
