<div class="jumbotron">
	<h1>Character Summary</h1>
	<h2>Resumé</h2>
</div>
<div class="container">
	<h1 class="centre">Base Stats</h1>
	<h2>MEng. Undergraduate Master of Computer Science with Artificial Intelligence with Year in Industry<br /> University of York, 2009-Present<br />Expected First</h2>
	I am currently in my final year of University at the University of York. I have covered a wide range of topics, ranging from Neural Networks and Machine Learning, to
	Enterprise Architectures and Relational Databases. I am currently achieving a first, where I achieved an average of 81% last year. 
	
	<h1>Recent Quests</h1>
		<div class="col-xs-4">
			<h2>Eternity of the Broken Kings</h2>
			I made a text-based horror/action game based off the book "Eternity of the Star Witch". More on this can be read about <%= link_to "here", "/portfolio/eotBK" %>
		</div>
		<div class="col-xs-4">
			<h2>Departure</h2>
			I took part in the University of York's first Game Jam, where I made the game "Departure" with a team of 4 other people. 
			More on this can be read <%= link_to "here", "/portfolio/game_jam_york" %>
		</div>
		<div class="col-xs-4">
			<h2>AI in Lords of War</h2>
			I am currently doing my Master's Project on using Monte Carlo Tree Search and the Minimax Algorithm in order to create an AI player for the game Lords of War.
			More on this can be read <%= link_to "here", "/portfolio/masters" %>
		</div>
	These projects, along with others, can be read about here <%= link_to "here", "/portfolio" %>.
	
	<h1>Epic Quests</h1>
	<h2>Software Developer (Year in Industry)<br />Thales Transport, August 2011-September 2012</h2>
	<p>I worked for Thales Transport as a software developer on a new project. I was in a team of 12 developers, developing a system providing real-time information on generated
	road maps and as XML feeds to the public, and also developing an admin system used intenrally by the customer.
	</p>
	<p>
		I used numerous different languages including Java, JavaScript, Groovy, and Python. 
		I also used many different frameworks and tools including Spring MVC, Hibernate, backbone.js, underscore.js.
		I experienced using the Agile Scrum methodology, as well as best practices tools for version control (Git), continuous integration (Jenkins), project automation (Gradle, Maven, Ant), and others.  		
	</p>
	<h1>Skills</h1>
	<div class="row">
		<div class="col-xs-4">
			<h2>Programming Languages</h2>
			<table>
				<tr>
					<td class="skill-cell">
						Java
					</td>
					<td>
						<i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i>
					</td>		
				</tr>
				<tr>
					<td class="skill-cell">
						C++
					</td>
					<td>
						<i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i>
					</td>		
				</tr>
				<tr>
					<td class="skill-cell">
						Python
					</td>
					<td>
						<i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i>
					</td>		
				</tr>
				<tr>
					<td class="skill-cell">
						Lua
					</td>
					<td>
						<i class="fa fa-gamepad fa-2x"></i>
					</td>		
				</tr>
				<tr>
					<td class="skill-cell">
						JavaScript
					</td>
					<td>
						<i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i>
					</td>		
				</tr>
				<tr>
					<td class="skill-cell">
						Ruby
					</td>
					<td>
						<i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i>
					</td>		
				</tr>
				<tr>
					<td class="skill-cell">
						Groovy
					</td>
					<td>
						<i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i>
					</td>		
				</tr>
				<tr>
					<td class="skill-cell">
						SQL
					</td>
					<td>
						<i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i>
					</td>		
				</tr>
			</table>
		</div>
		<div class="col-xs-4">
			<h2>Frameworks, Libraries, and SDKs</h2>
			<table>
				<tr>
					<td class="skill-cell">
						Rails
					</td>
					<td>
						<i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i>
					</td>		
				</tr>
				<tr>
					<td class="skill-cell">
						Marmalade SDK
					</td>
					<td>
						<i class="fa fa-gamepad fa-2x"></i>
					</td>		
				</tr>
				<tr>
					<td class="skill-cell">
						Android
					</td>
					<td>
						<i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i>
					</td>		
				</tr>
				<tr>
					<td class="skill-cell">
						Spring
					</td>
					<td>
						<i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i> 
					</td>		
				</tr>
				<tr>
					<td class="skill-cell">
						Hibernate
					</td>
					<td>
						<i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i>
					</td>		
				</tr>
				<tr>
					<td class="skill-cell">
						Spring MVC
					</td>
					<td>
						<i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i> 
					</td>		
				</tr>
				<tr>
					<td class="skill-cell">
						jQuery
					</td>
					<td>
						<i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i>
					</td>		
				</tr>
				<tr>
					<td class="skill-cell">
						Grails
					</td>
					<td>
						<i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i>
					</td>		
				</tr>
			</table>
		</div>
		<div class="col-xs-4">
			<h2>Tools</h2>
			<table>
				<tr>
					<td class="skill-cell">
						Git
					</td>
					<td>
						<i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i>
					</td>		
				</tr>
				<tr>
					<td class="skill-cell">
						Jenkins
					</td>
					<td>
						<i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i>
					</td>		
				</tr>
				<tr>
					<td class="skill-cell">
						Gradle
					</td>
					<td>
						<i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i>
					</td>		
				</tr>
				<tr>
					<td class="skill-cell">
						SVN
					</td>
					<td>
						<i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i>
					</td>		
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4">
			<h2>Databases</h2>
			<table>
				<tr>
					<td class="skill-cell">
						Oracle
					</td>
					<td>
						<i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i>
					</td>		
				</tr>
				<tr>
					<td class="skill-cell">
						PostgreSQL
					</td>
					<td>
						<i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i>
					</td>		
				</tr>
				<tr>
					<td class="skill-cell">
						MySQL
					</td>
					<td>
						<i class="fa fa-gamepad fa-2x"></i>
					</td>		
				</tr>
			</table>
		</div>
		<div class="col-xs-4">
			<h2>Operating Systems</h2>
			<table>
				<tr>
					<td class="skill-cell">
						Windows
					</td>
					<td>
						<i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i>
					</td>		
				</tr>
				<tr>
					<td class="skill-cell">
						Linux
					</td>
					<td>
						<i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i> <i class="fa fa-gamepad fa-2x"></i>
					</td>		
				</tr>
			</table>
		</div>
	</div>
	<h1>More Information</h1>
	More information can be found in my formal CV <%= "here", "" %>.
</div>
