<h1>Electric Justice</h1>
<p class="centre">Status: <span class="halted">Halted</span></p>
<div class="container">
  <div class="row">
  	<div class="col-xs-4">
  		<h3> Overview </h3>
  		<p>I created a web application using the Ruby on Rails framework. The web application is for my guild in World of Warcraft, Electric Justice. 
  			The web application was created to manage the guild, and to provide an overview of the guild to guild members, as well as raise awareness in order to recruit new members.
  			The web application has a forum, a poll system, a roster showing all guild members, raid progression, and a news page. There are plans to integrate the guild bank and in-game calendar in the future.</p>
		<p>The web application communicates with the <%= link_to "World of Warcraft Community Web API", "http://blizzard.github.io/api-wow-docs/" %> in order to pull down information
			on the guild and its members. The API is RESTful, and returns information on characters, guilds, items, raid, and more in JSON when a get request is performed.</p>
			<p>The web application also used third-party applications written in Lua in order to track in-game events which were not made visible by the API.</p>
			<p> The web application is currently hosted on heroku <%= link_to "here", "http://electric-justice.herokuapp.com/"%>, and the code can be viewed on my github page
				<%= link_to "here", "https://github.com/Zinbo/electric_justice"%>. </p>
      <div class="portfolio-picture">	
	      	<a class="fancybox" rel="group" href="/assets/exampleJSON.png"><img width="100%" src="/assets/exampleJSON.png"/></a>
	      	<p class="description descriptive-text">JSON returned by the WoW API for the character Zinbo</p>
		</div>
  	</div>
  	<div class="col-xs-4">
      <h3>Challenges</h3>
      <p>This was the first non-trivial web application which I have made by myself, so the learning curve was quite steep. It was also my first time using both Ruby and Rails, so there
      	was the added complexity of learning both a new programming language and a framework. </p>
      	<p> There was also the added complexity of some information in the game not being made visible to the API. This meant that addons had to be used which could
      		write information from the game to a file and then that file be uploaded to the web application. As part of Blizzard's terms and conditions addons cannot mine for data
      		and send via the web, hence the need to save to a file. The problem here was that I could not find any addons which did exactly what I wanted, which meant that I
      		started writing my own. </p> 
      		<p>WoW addons are written in Lua, which I had no previous experience of, apart from a very simple addon which random selects mounts from the
      		characters current collection (which can be seen here). Therefore I had to learn more about Lua in order to start developing addons which could retrieve information
      		on items in the guild bank and the in-game guild calendar.</p>
	  <p></p>
	</div>
	<div class="col-xs-4">
		<div class="portfolio-picture">	
	      	<a class="fancybox" rel="group" href="/assets/rosterPage.png"><img  width="100%" src="/assets/rosterPage.png"/></a>
	      	<p class="description descriptive-text">The roster page, showing a paginated list of the guild members</p>
		</div>
		<h3>Outcome</h3>
      	<p>I have halted progress on this project as I have suspended my WoW subscription due to my university work load. However I have learnt a lot so far from this project.</p>
      	<p>I have learnt how to create web applications using Ruby on Rails - learning both the Ruby language and the Rails framework. I feel I now have a good understanding 
      		of both of these (this web site written using Ruby on Rails!). </p>
  		<p>Whilst I alreaady had previous experiences with Javascript, HTML, and CSS, this project really helped to reinforce my knowledge, specifically on the use of JavaScript when
  			trying to contain most of the logic in the model, as dictated by the Active Record Pattern. </p>
  		<p>I also feel I have a better understanding of web development principles, such as the MVC and active record pattern, AJAX, and the use of authentication systems in web applications. </p>
  		<p>I was able to get some more experience with Lua. I'm hoping that I will be able to strengthen my knowledge of Lua even more once I start this project up again. </p>
	</div>
  </div>
</div>