<h1>Eternity of the Broken Kings</h1>
<p style="text-align:center">Status: <span class="complete">Complete</span></p>
<div class="container">
  <div class="row">
  	<div class="col-xs-4">
  		<h3> Overview </h3>
  		<p>I created a horror/action text-based game based on the book "Eternity of the Star Witch". The game works by giving the player a description of their current state nad giving them multiple options to choose from.
			Some options progress the player further in the game whilst others have the player meet their demise. When a player chooses the wrong action they are brought back to the state that they chose from, 
			except for when the player is in the final boss battle, where the player is brought back to the start of the battle.</p>
			<p>The game was written in C++. The game works by taking in a text file, containing all of the states, options, and consequences of the game, and storing them in memory. The player then chooses options until
			they reach the end of the game. </p>
		<p> 
      <div class="portfolio-picture">	
	      	<a class="fancybox" rel="group" href="/assets/mcts-tree.png"><img width="100%" src="/assets/mcts-tree.png"/></a>
	      	<p class="description descriptive-text">An example of a MCTS tree</p>
		</div>
  	</div>
  	<div class="col-xs-4">
      <h3>Challenges</h3>
      <p>This project was mainly used as a learning experience in order for me to better understand C++. I had previously read a few books on C++ and tried a few tutorials (including creating pong using SFML) but had
	  never tried anything substantial. Whilst I had plenty of development experience before, principles such as managing my own garbage collection, pointers, and references, in practice, were relatively new to me.
	  I knew that I wanted to implement my Master's project in C++, so I wanted to make sure that I had a good foundation of knowledge.</p>
	  <p></p>
	</div>
	<div class="col-xs-4">
		<div class="portfolio-picture">	
	      	<a class="fancybox" rel="group" href="/assets/LoWGame.jpg"><img  width="100%" src="/assets/LoWGame.jpg"/></a>
	      	<p class="description descriptive-text">A Lords of War game in play on the board</p>
		</div>
		<h3>Outcome</h3>
      	<p>The project is now complete and can be viewed HERE.</p>
		<p>I feel this project really helped reinforce my understanding of some of the main principles of C++. I was also able to compile a "cheat sheet" containing all of the information I came across regarding C++.
		The project really helped give me a good start towards using C++ for my Master's project.</p>
	</div>
  </div>
</div>