<h1>Departure</h1>
<p class="centre">Status: <span class="complete">Complete</span></p>
<div class="container">
  <div class="row">
  	<div class="col-xs-4">
  		<h3> Overview </h3>
  		<p>Departure was made during the University of York's first Game Jam. A game jam is an opportunity to, as a team, create a game in 48 hours based on a theme given on the day.
			At the end of the 48 hours each team's game is played and evaluated by judges and other teams based on criteria such as relation to the theme, quality of music, and other others, 
			with the highest scoring team winning.</p>
		<p> I jonied a team of four other people at the event. The theme for the Game Jam was the Grand Départ, so we decided to make a space-themed turn-based strategy game called departre.
			The basic story line of the game was that the player was the cpatain of a spaceship charged with colonising planets, due to Earth becoming inhabitable because of war. </p>
		<p> The game mechanics were quite simple. the player could move the ship once per turn to different planets. Once at a planet the player could colonise the planet (if the planet had not already been colonised) by
			'paying' in resources, where resources were people, food, and money. Once a planet was owned the player could withdraw and deposity resources to the planet, providing the player was current situated at that planet.
			People in the planet would use up food resources, but also create resources. The game also had a shop, which the player could access to sell and buy resources. </p>
		<p>The players score was based on the overall happiness of colonised people at the end of each turn. If people had enough food on their planet then the people were happy and the players score increased (relative to the
			amount of happy people). However if peeople did not have enough food on their planet then the people would be unhappy and the players score decreased (relative to the amount of unhappy people). 
			The aim of the game was to, within a limited number of turns achieve a score of 100. </p>
		<p>The game was written in C#, using the unity engine. Unfortunately, the source code is not available online. </p>
  	</div>
  	<div class="col-xs-4">
      <h3>Challenges</h3>
      <p>One of the biggest (and most obvious) challenges of this project was being able to make a working game within 48 hours. It was difficult as we had a lot of ideas for features, however we did not have enough time
	  to implement them. It was very easy to underestimate how much time implementing a whole game came take. We ended up putting a lot of work into the game, where I personally spent roughly 30 out of the 48 hours coding.</p>
	  <p>I also had limited experience using C# and unity, so I had to both learn new aspects of Unity whilst trying to make the game. My other team members also had limited experience with both C# and Unity, which definitely
	  slowed us down.<p/>
	  <p>This project not only required the technical skills to making a game, but also required good planning and social skills, in order to have a working game within 48 hours.</p>
	<div class="portfolio-picture">	
      	<a class="fancybox" rel="group" href="/assets/mcts-tree.png"><img width="100%" src="/assets/mcts-tree.png"/></a>
      	<p class="description descriptive-text">An example of a MCTS tree</p>
	</div>
	</div>
	<div class="col-xs-4">
		<div class="portfolio-picture">	
	      	<a class="fancybox" rel="group" href="/assets/LoWGame.jpg"><img  width="100%" src="/assets/LoWGame.jpg"/></a>
	      	<p class="description descriptive-text">A Lords of War game in play on the board</p>
		</div>
		<h3>Outcome</h3>
      	<p>We made a working game at the end of the 48 hours, and won 2nd place out of 10 teams. </p>
      	<p>This project gave me a good understanding of what it was like to make a game under pressure and how important planning can be. 
		I realised that we should have developed the game in an incremental fashion, starting from the most basic of features and then adding more per iteration, rather than just diving in. Whilst diving in may work for
		individual projects, this does not work as team.</p>
		<p>I felt this project also gave me a much better understanding of the Unity engine, and C#. </p>
		<p>All in all, I really enjoyed the Game Jam, and would love to participate in another one in the future.</p>
	</div>
  </div>
</div>