<div class="jumbotron">
	<h1>Quest Log</h1>
	<h2>Portfolio of work</h2>
</div>
<div class="container">
      <!-- Example row of columns -->
      <div class="row">
      	<div class="col-md-4">
          <h3>Master's Project</h3>
          <p>My master's project concerns developing an AI agent using Monte Carlo Tree Search and the Minimax algorithm in order to play the trading card game Lords of War.</p>
          <p><%= button_to "Learn more »", "portfolio/masters", :class=>"btn btn-primary", :method => "get" %></p>
        </div>
        <div class="col-md-4">
          <h3>Game Jam York</h3>
          <p>Took part in the University of York's first <%= link_to "Game Jam", "http://www.gamejamyork.co.uk/"%> with a team and developed a turn-based strategy space game, winning second place. </p>
          <p><%= button_to "Learn more »", "portfolio/game_jam_york", :class=>"btn btn-primary", :method => "get" %></p>
        </div>
        <div class="col-md-4">
          <h3>Eternity of the Broken Kings</h3>
          <p>A horror/action text adventure game based on the book "Eternity of the Star Witch".</p>
          <p><%= button_to "Learn more »", "portfolio/eotBK", :class=>"btn btn-primary", :method => "get" %></p>
       </div>
    </div>
    <div class="row">
    	<div class="col-md-4">
          <h3>UnTitled</h3>
          <p>A platformer using the Marmalade C++ SDK. </p>
          <p><%= button_to "Learn more »", "portfolio/untitled", :class=>"btn btn-primary", :method => "get" %></p>
       </div>
       <div class="col-md-4">
          <h3>Electric Justice</h3>
          <p>An web application for my guild on World of Warcraft</p>
          <p><%= button_to "Learn more »", "portfolio/electric_justice", :class=>"btn btn-primary", :method => "get" %></p>
       </div>
   </div>