<h1>Master's Project</h1>
<p class="centre">Status: <span class="ongoing">Ongoing</span></p>
<div class="container">
  <div class="row">
  	<div class="col-xs-4">
  		<h3> Overview </h3>
  		<p>My Master's project is on using the search algorithms Monte Carlo Tree Search and Minimax in order to develop a player for the card game game <%= link_to "Lords of War", "http://lords-of-war.com/"%>. The main body of the project is to compare the different techniques and how the inclusion of heuristic knowledge increases (or decreases) the strength of the player.  </p>
      <div class="portfolio-picture">	
	      	<a class="fancybox" rel="group" href="/assets/mcts-tree.png"><img width="100%" src="/assets/mcts-tree.png"/></a>
	      	<p class="description descriptive-text">An example of a MCTS tree</p>
		</div>
  	</div>
  	<div class="col-xs-4">
      <h3>Challenges</h3>
      <p>Lords of War is what is known as as a stochastic imperfect information game. It is stochastic as the player must pick up cards from a shuffled deck, and it is imperfect information as you cannot see your opponent's hand, therefore you do not have a perfect view of the game state. This makes developing an AI player challenging. </p>
	  <p>This project also requires a good understanding of C++. C++ is used in order to implement a fast and efficient player, as the amount of information the AI player must examine becomes very large due to the branching factor when looking at future moves.</p>
	</div>
	<div class="col-xs-4">
		<div class="portfolio-picture">	
	      	<a class="fancybox" rel="group" href="/assets/LoWGame.jpg"><img  width="100%" src="/assets/LoWGame.jpg"/></a>
	      	<p class="description descriptive-text">A Lords of War game in play on the board</p>
		</div>
		<h3>Outcome</h3>
      	<p>The project is still ongoing and isn't due to be finished until 05/05/2014.</p>
      	<p>So far I have learnt more about different AI techniques, such as MCTS, and more about game theory. I am currently implementing a Minimax player in C++, which has helped strengthen my knowledge of C++.</p>
	</div>
  </div>
</div>