<div class="jumbotron">
  <div class="container">
    <h1 >Zinbo the Master Engineer</h1>
  <h2>An aspiring games developer's journey to end game</h2>

  </div>
</div>
<%if signed_in? %>
	<%= link_to "New post", new_post_path %>
<%end%>
<%= will_paginate %>
<% @posts.each do |post| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3  class="panel-title" style="float: left;"><%= post.title %></h3>
     <h3 style="float: right;" class="panel-title"><%= time_ago_in_words(post.created_at) %> ago.</h3>
     <div style="clear: both;"></div>
  </div>
  <div class="panel-body">

<%= RedCloth.new(post.body).to_html.html_safe %> 
  </div>
</div>
	<% if signed_in? %>
		<%= link_to 'Edit', edit_post_path(post) %>
		<%= link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
	<% end %>
<% end %>
<%= will_paginate %>

