<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3  class="panel-title" style="float: left;"><%= @post.title %></h3>
     <h3 style="float: right;" class="panel-title"><%= time_ago_in_words(@post.created_at) %> ago.</h3>
     <div style="clear: both;"></div>
  </div>
  <div class="panel-body">

<%= RedCloth.new(@post.body).to_html.html_safe %> 
  </div>
</div>

 <h3>Comments</h3>
<div id="comments" class="container">
	<div class="row">
		<%= render :partial => @post.comments%>
	</div>
</div> 

<%= form_for [@post, Comment.new], :remote => true do |f| %>
        <p>
        	<h3> Leave a comment </h3>
                <%= f.label :user%> <%= f.text_field :user %><br />
                <%= f.text_area :body, :cols=>"30" %>
        </p>
        <p><%= f.submit "Add comment" %></p>
<% end %>

<%= link_to 'Back', posts_path %>

