// Place all the styles related to the portfolio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.centre{
  text-align:center;
}

.portfolio-picture{
  margin-left: 0; 
  border: 1px solid #C0C0C0; 
  background: #eee; 
  border-radius: 5px;
}

.descriptive-text{
  color: #686868;
  font-style:italic;
}

.ongoing{
  color: orange;
}

.complete{
  color: green;
}
.halted{
  color: red;
}




