<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand header_text" href="/">Shane Jennings</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav pull-right">
              <li class="header_text"><%= link_to "Quest Log", "/portfolio" %></li>
              <li class="header_text"><%= link_to "Bio", "/about_me" %></li>
              <li class="header_text"><%= link_to "Stats", "/cv" %></li>
              <% if signed_in? %>
              <li>
                  <%= link_to "Sign out", zinbosignout_path, :method => "delete" %>
                </li>
                <% end %>
              <li class="dropdown">
	              <a href="#" class="dropdown-toggle header_text" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="false">
        Contact Me <b class="caret"></b>
	              </a>
	              <ul class="dropdown-menu">
	                <li><%= link_to "<i class=\"fa fa-envelope fa-2x\"></i>".html_safe, "mailto:shanepjennings@gmail.com"%></li>
              <li><%= link_to "<i class=\"fa fa-linkedin-square fa-2x\"></i>".html_safe, "https://uk.linkedin.com/in/shanepjennings"%></li>
              <li><%= link_to "<i class=\"fa fa-twitter fa-2x\"></i>".html_safe, "https://www.twitter.com/superzinbo"%></li>
              <li><%= link_to "<i class=\"fa fa-github fa-2x\"></i>".html_safe, "https://github.com/zinbo"%></li>
              <li><%= link_to "<i class=\"fa fa-bitbucket fa-2x\"></i>".html_safe, "https://bitbucket.org/zinbo"%></li>
	                
	              </ul>
	            </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
